/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [timestamp]
      ,[Fulfillment Setup Code]
      ,[Reporting Date]
      ,[Entry No_]
      ,[File No_]
      ,[Qty_ (Phys_ Inventory)]
      ,[Quantity]
      ,[Qty_ at Creation (Calculated)]
      ,[Item No_]
      ,[Item Variant]
      ,[Generated by]
      ,[Generated at]
      ,[Processed]
      ,[Processed by]
      ,[Processed at]
      ,[Cleared]
      ,[Cleared by]
      ,[Cleared at]
  FROM [urban_NAV600].[dbo].[Urban-Brand GmbH$Fulfillment Inventory ]
  Where [Fulfillment Setup Code] = 'BER_FIEGE' AND [Item No_] = '9421018218507'
  AND datediff(day,[Reporting Date], GETDATE()) < 5
  order by [Reporting Date] desc