/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [No_]
      ,[Quantity]
      
  FROM [urban_NAV600].[dbo].[Urban-Brand GmbH$Return Receipt Line]
Where [Document No_] in ('VKRL-1093535','VKRL-1093611','VKRL-1095904','VKRL-1095946','VKRL-1096039','VKRL-1096055','VKRL-1096148','VKRL-1096183','VKRL-1096233','VKRL-1096593','VKRL-1097177','VKRL-1100360','VKRL-1100375','VKRL-1103477','VKRL-1103498','VKRL-1103562','VKRL-1103565','VKRL-1103590','VKRL-1103978','VKRL-1095710','VKRL-1095831','VKRL-1095991','VKRL-1096030','VKRL-1096094','VKRL-1096150','VKRL-1096178','VKRL-1096271','VKRL-1096276','VKRL-1096334','VKRL-1096342','VKRL-1096448','VKRL-1096490','VKRL-1096533','VKRL-1096588','VKRL-1096590','VKRL-1096706','VKRL-1096731','VKRL-1097173','VKRL-1100362','VKRL-1100394','VKRL-1100408','VKRL-1100431','VKRL-1100440','VKRL-1100441','VKRL-1100444','VKRL-1103481','VKRL-1103509','VKRL-1103548','VKRL-1103706','VKRL-1103715','VKRL-1103752','VKRL-1103767','VKRL-1103785','VKRL-1103794','VKRL-1103938','VKRL-1103975','VKRL-1103989','VKRL-1093535','VKRL-1093611','VKRL-1095904','VKRL-1095946','VKRL-1096039','VKRL-1096055','VKRL-1096241','VKRL-1096338','VKRL-1096540','VKRL-1097123','VKRL-1097160','VKRL-1097236','VKRL-1097238','VKRL-1100378','VKRL-1100381','VKRL-1100396','VKRL-1100398','VKRL-1100412','VKRL-1100425','VKRL-1103491','VKRL-1103515','VKRL-1103520','VKRL-1103698','VKRL-1103773','VKRL-1103951','VKRL-1103955','VKRL-1103992','VKRL-1093494','VKRL-1093538','VKRL-1093568','VKRL-1093581','VKRL-1093586','VKRL-1095976','VKRL-1096168','VKRL-1096185','VKRL-1096219','VKRL-1096265','VKRL-1096357','VKRL-1096370','VKRL-1096381','VKRL-1096460','VKRL-1096649','VKRL-1096691','VKRL-1096723','VKRL-1096725','VKRL-1097132','VKRL-1097145','VKRL-1100363','VKRL-1100393','VKRL-1100402','VKRL-1103489','VKRL-1103569','VKRL-1103986','VKRL-1103993','VKRL-1093507','VKRL-1093515','VKRL-1093574','VKRL-1095692','VKRL-1095708','VKRL-1095744','VKRL-1095891','VKRL-1095933','VKRL-1096017','VKRL-1096032','VKRL-1103987')
AND [Posting Group] = 'HANDEL'
AND [Location Code] = 'FIEGE'